body{
    background-color: var(--bg-dark);
}
.form{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width:100% ;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: var(--bg-white);
  
}
.myform{
    text-align: center;
    width: 100%;
}
 .datainfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
 .bookatributs{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 15px 30px;
 }
 .bookatributs label{
    font-size: larger;
 }
 .bookatributs input,
 .bookatributs textarea{
    width: 100%;
 }
 .bookatributs textarea{
    height: 300px;
 }
 .bookatributs input{
    height: 35px;
 }
 .sbtn{
    border-radius: 10px;
}
.lasta{
   text-align: center;
}